/* Write your CSS here */
.bg-container {
  background-color: #f1f5f8;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: 800;
  color: #2d3a35;
}
.span {
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: 800;
  color: #c20a72;
}
.para {
  font-family: 'Roboto';
  font-size: 18px;
  color: 2d3a35;
}
.button {
  background-color: #007bff;
  font-family: 'Roboto';
  font-size: 13px;
  color: white;
  padding: 4px;
  border: 0px;
  cursor: pointer;
  outline: none;
}
